# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.env

# Flutter / Dart
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/build/
app/.pub-cache/

# ML
ml/data/raw/
ml/models/**/*.joblib
ml/.ipynb_checkpoints/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
